<p class="text_background">Thank you for registering <%= params[:username] %>, we have sent a confirmation email to <%= params[:email] %>.</p>

<!-- doesn't actually sned a confirmation email...yet -->