<!-- <!DOCTYPE html>
<html>
<head>
	<title>Valkyrie Guild</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="styles/style.css">

</head>

<body> -->
	<div class="banner_center">
		<div class="banner"></div>
	</div>
	<!-- <nav>
	<ul>
		<li><a href="./index.html">Home</a></li>
		<li><a href="#">Forums</a></li>
		<li><a href="./guide.html">Guides</a></li>	
		<li><a href="./gallery.html">Screenshot Gallery</a></li>
		<li><a href="./contact.html">Contact</a></li>
		<li><a class ="login" href="#">Login</a></li>
	</ul>
	</nav> -->	
	<h1>Valkyrie</h1>
	<div class="text_background">
		<h3>Introduction:</h3>
		<p> We are an active PvX guild on the Uno server, based on Mediah U2. We have a strong emphasis on PvP and preparing for upcoming node wars. We do daily guild quests and guild bosses on the weekends, as well as scroll boss groups. Currently, we only have a small core group, but we are looking to expand. Below you will be able to find our open recruitment positions.</p>
	</div>
	<div class="text_background">
		<h3>Recruitment:</h3>
		<p>We are always looking to expand our roster of active members. If you are level 50+ and interested in grinding out levels for hours on end, crafting till your eyes bleed, or kicking ass in pvp, all in a fun and friendly environment, Valkyrie may be the guild for you!<p>
	</div>
	<div class="centerrl">
	<div class="text_background">
		<h3>Open Recruitments:</h3>
		<ul>
			<li>Berserker: <span class="open">Open</span></li>
			<li>Musa/Maehwa: <span class="closed">Closed</span></li>
			<li>Warrior: <span class="open">Open</span></li>
			<li>Valkyrie: <span class="open">Open</span></li>
			<li>Ranger: <span class="closed">Closed</span></li>
			<li>Wizard/Witch: <span class="open">Open<span></li>
			<li>Sorceress: <span class="open">Open</span></li>
			<li>Tamer: <span class="open">Open</span></li>
		</ul>
	</div>
	</div>



<!-- </body>
</html> -->