<!DOCTYPE html>
<html>
<head>
  <title>Homework4</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<nav>
		<ul>
			<li><a href="./home">Home</a></li>
			<li><a href="#">Forums</a></li>
			<li><a href="./guide.html">Guides</a></li>	
			<li><a href="./gallery.html">Screenshot Gallery</a></li>
			<li><a href="./contact">Contact</a></li>
			<li><a class ="login" href="./login">Login</a></li>
		</ul>
	</nav>
<%= yield %>

</body>
</html>
<!-- i only imported the pages 'home' and 'contact' then created the login page -->